<!DOCTYPE html>
<html>
<head>
  <title>Traffic Violation User Registration</title>
</head>
<body>
  <h1>User Registration</h1>
  <form action="/register" method="POST">
    <label>Vehicle Registration Number:</label>
    <input type="text" name="vehicleRegNumber" required><br><br>

    <label>Vehicle Type:</label>
    <input type="text" name="vehicleType" required><br><br>

    <label>Vehicle Make & Model:</label>
    <input type="text" name="vehicleMakeModel" required><br><br>

    <label>Owner's Full Name:</label>
    <input type="text" name="ownerName" required><br><br>

    <label>Owner's Address:</label>
    <input type="text" name="ownerAddress" required><br><br>

    <label>Owner's Contact Number:</label>
    <input type="text" name="ownerContact" required><br><br>

    <label>Owner's Email Address:</label>
    <input type="email" name="ownerEmail" required><br><br>

    <label>Driving License Number:</label>
    <input type="text" name="drivingLicenseNumber" required><br><br>

    <button type="submit">Register</button>
  </form>
</body>
</html>
